---
BasedOnStyle: Google

TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: false
PackConstructorInitializers: CurrentLine
ColumnLimit: 150
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++17
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: true
BreakConstructorInitializers: AfterColon
